<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="description">{{localize "CYBER_BLUE.Sheet.Tabs.Description"}}</a>
  {{#if showProgramExecutableNotesTab}}
    <a class="item" data-tab="notes">{{localize "CYBER_BLUE.Sheet.Tabs.Notes"}}</a>
  {{/if}}
</nav>

<section class="sheet-body">
  <div class="tab active" data-group="primary" data-tab="description">
    <section class="sheet-panel">
      {{#if canEditAsOwner}}
        <prose-mirror name="system.description" value="{{system.description}}" document-uuid="{{item.uuid}}" compact>
          {{{enrichedDescription}}}
        </prose-mirror>
      {{else}}
        <div class="editor"><div class="editor-content">{{{enrichedDescription}}}</div></div>
      {{/if}}
    </section>
  </div>

  {{#if showProgramExecutableNotesTab}}
    <div class="tab" data-group="primary" data-tab="notes">
      <section class="sheet-panel">
        {{#if canEditAsOwner}}
          <prose-mirror name="system.notes" value="{{system.notes}}" document-uuid="{{item.uuid}}" compact>
            {{{enrichedNotes}}}
          </prose-mirror>
        {{else}}
          <div class="editor"><div class="editor-content">{{{enrichedNotes}}}</div></div>
        {{/if}}
      </section>
    </div>
  {{/if}}
</section>
